@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --montserrat: 'Montserrat';
    --pt-sans: "PT Sans";
    --deep-blue: #2B2D42;
    --light-blue: #8D99AE;
    --white: #EDF2F4;
    --light-red: #EF233C;
    --deep-red: #D90429;
    background: var(--white);
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.title-lg{
    font-size: 2.6em;
    color: var(--deep-blue);
    font-family: var(--montserrat);
    font-weight: bold;
}

@media (max-width: 800px){
    .title-lg{
        font-size: 2.5em;
    }
    .feather-home{
        width: 15px;
        height: 15px;
    }
    .feather-log-out{
        width: 15px;
        height: 15px;
    }
}

